@use "../../styles/variables" as v;

.btn {
    display: flex;
    gap: v.$space-xxs;
    align-items: center;
    padding: v.$space-s v.$space-l;
    border-radius: v.$border-radius;
    color: white;
    background-color: v.$brand-color;
    border: none;
    min-height: 52px;
}

.btn:hover:not([disabled]) {
    background-color: v.$brand-hover-color;
}

.btn:active:not([disabled]) {
    background-color: v.$brand-active-color;
}

.disabled {
    background-color: #D9D9D9;
}

.loader {
    border-color: white;
    border-bottom-color: transparent;
}

.text {
    display: block;
}