$border-radius: 6px;

$brand-color: #1f883d;
$brand-hover-color: rgba(#1f883d, 0.7);
$brand-active-color: #08531d;

$text-primary: #000;
$text-secondary: #AFADB5;
$text-accent: $brand-color;

$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

@mixin shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}