@use '../../styles/variables' as v;

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: v.$border-radius;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        @include v.shadow;
    }
    &Image {
        object-fit: cover;
        background-color: v.$bg-alt-color;
    }
    &Info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: v.$space-l;
        background-color: white;
        padding: v.$space-xl v.$space-xs;
    }
    &Text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: v.$space-xxs;
    }
    &Slots {
        display: flex;
        align-items: center;
        gap: v.$space-xxs;
    }
    &Content {
        flex: 1;
    }
    
}